<!-- <div class="alert alert-success" role="alert">
  <h5>Results</h5>
  <p>Total extracts: {{results_count}}</p>
  {% for i in results %}
  <ul>
    <li>{{ i }}</li>
  </ul>
  {% endfor %}
</div> -->


{% extends "base2.html" %}

{% block content %}

<br />
<br />
<br />

<!-- <script type="text/javascript">
  updateList = function() {
    var input = document.getElementById('file');
    var output = document.getElementById('fileList');

    output.innerHTML = '<ul>';
    for (var i = 0; i < input.files.length; ++i) {
      output.innerHTML += '<li>' + input.files.item(i).name + '</li>';
    }
    output.innerHTML += '</ul>';
  }
</script> -->

<style>
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
</style>

<script>
  function openPage(pageName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(pageName).style.display = "block";
    elmnt.style.backgroundColor = color;
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>


<div class="container">

  <button class="tablink" onclick="openPage('News', this, 'green')" id="defaultOpen">Paste txt file</button>
  <button class="tablink" onclick="openPage('Home', this, 'red')">Upload a .txt file</button>

  <div id="News" class="tabcontent">
    <textarea placeholder="Seperate Keywords/Emails by a comma ( , )" type="text" name="rawtext" rows="5" class="form-control" required="true"></textarea>
    <br/>
  </div>

  <div id="Home" class="tabcontent">
    <!-- <h3>Home</h3>
    <p>Home is where the heart is..</p> -->
    <div id="myDIV" class="box">
      {% if mess == 'File uploaded successfully!'  %}
      <a href="{{url_for('main.download')}}">
        <button class="btn btn-default">Download</button>
      </a>
      {% endif %}
      <form method="POST" enctype="multipart/form-data" action="{{ url_for('main.upload') }}">
        <div class="">
          <img src="static/upload_img.png" alt="" height="100" width="200" class="d-block mx-auto mb-4 rounded-pill">
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages[0] == 'No selected file' %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% elif messages[0] == filename %}
          <div class="">
              {{ filename }}
          </div>
        {% else %}
          <div class="notification is-success">
            {{ messages[0] }} <br>
            uploaded sucessfully!
          </div>
        {% endif %}
        {% endwith %}
        <div id="fileList"></div>
        <div class="selectFile">
          <label for="fileUpload" class="btn btn-primary btn-block rounded-pill shadow">
            <i class="fa fa-upload mr-2"></i>Browse for file ...
            <input style="display: none;" id="fileUpload" name="file" type="file">
          </label>
          <input multiple onchange="javascript:updateList()" id="file" type="submit" value="Upload">
        </div>
        <p>File size limit : 10 MB</p>
        <!-- <input type="file" name="file">
        <input type="submit" value="Upload"> -->
      </form>
    </div>
  </div>

  <form class="" action="/process" method="POST">
    <!-- <div class="row">
      <div class="col-6">
        <textarea placeholder="Seperate Keywords/Emails by a comma ( , )" type="text" name="rawtext" rows="5" class="form-control" required="true"></textarea>
        <br/>
      </div>

    </div> -->
    <script type="text/javascript">
      function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
    </script>

    <div id="myDIV" class="box">
      {% if mess == 'File uploaded successfully!'  %}
      <a href="{{url_for('main.download')}}">
        <button class="btn btn-default">Download</button>
      </a>
      {% endif %}
        <!-- <form method="POST" enctype="multipart/form-data" action="{{ url_for('main.upload') }}">
          <div class="">
            <img src="static/upload_img.png" alt="" height="100" width="200" class="d-block mx-auto mb-4 rounded-pill">
          </div>
          {% with messages = get_flashed_messages() %}
          {% if messages[0] == 'No selected file' %}
              <div class="notification is-danger">
                  {{ messages[0] }}
              </div>
          {% elif messages[0] == filename %}
            <div class="">
                {{ filename }}
            </div>
          {% else %}
            <div class="notification is-success">
                {{ messages[0] }} <br>
                uploaded sucessfully!
            </div>
          {% endif %}
          {% endwith %}
          <div id="fileList"></div>
          <div class="selectFile">
            <label for="fileUpload" class="btn btn-primary btn-block rounded-pill shadow">
              <i class="fa fa-upload mr-2"></i>Browse for file ...
              <input style="display: none;" id="fileUpload" name="file" type="file">
            </label>
            <input multiple onchange="javascript:updateList()" id="file" type="submit" value="Upload">
          </div>
          <p>File size limit : 10 MB</p>
          <!-- <input type="file" name="file">
          <input type="submit" value="Upload">
        </form> -->
    </div>
    <textarea placeholder="Seperate Keywords/Emails by a comma ( , )" type="text" name="rawtext" rows="5" class="form-control" required="true" hidden="true"></textarea>
    <br />
    <div class="form-group">
      <!-- <label>Your Text</label> -->
      <!-- <textarea placeholder="Seperate Keywords/Emails by a comma ( , )" type="text" name="rawtext" rows="5" class="form-control" required="true"></textarea>
      <br/> -->
      <!-- <div> -->
        <select class="form-control" name="taskoption">
          <option selected>Select Task</option>
          <option value="email">Email</option>
          <option value="phone">Phone Number</option>
          <!-- <option value="url_https">URL/https</option> -->
          <!-- <option value="url_http">URL/http</option> -->
        </select>
      <!-- </div> -->
      <br/>
      <button type="reset" class="btn btn-primary"><i class="fa fa-eraser"></i>Clear</button>
      <button type="submit" class="btn btn-info"><i class="fa fa-database "></i>Search</button>
    </div>
  </form>
</div>

<div class="container">

  <div class="d-md-flex row">
    <div class="col-8 container-fluid">
      <div class="row overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="min-width: 260px; max-height: 250px;">
        {% if results_count%}
        <div class="col-1 border"> <b>#</b> <br />
          <div class="border"></div>
          {% for i in range(results_count) %}
            {% print(i+1) %}<br />
          {% endfor %}
        </div>

        <div class="col-5 border"> <b>Contact</b> <br />
          <div class="border"></div>
          {% for r in results %}
            {% print(r) %}<br />
          {% endfor %}
        </div>
        <div class="col-3 border"> <b>Page Title</b> <br />
          <div class="border"></div>


        </div>
        <div class="col-3 border"> <b>Website</b> <br />
          <div class="border"></div>




        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-4">
      <div class="col">
        <div class="">
          <b>Statistics</b>
        </div>

        <div class="container has-text-centered">
          <p><b>Domain Count:</b></p>
          <p><b>Fetched Contacts:</b> </p>
          <p><b>Pages Parsed:</b></p>
          <p><b>Fetched Pages in Q:</b></p>
          <p><b>URL in Queue</b></p>
        </div>
      </div>
    </div>
  </div>


</div>

{% endblock %}
